* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.minhadivpai {
    width: 1000px;
    height: 400px;
    background-color: black;

}

.minhadivfilho {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid red;

}

/*
    TUDO QUE FOR COLOCADO NA DIV PAI SE ATRIBUÍDO AOS FILHO DENTRO DELE.

    DISPLAY: FLEX; = TODOS OS FILHOS VÃO FICAR LADO A LADO.
    
    FLEX-DIRECTION: ROW; (JA VEM COMO PADRÃO, NÃO SENDO NECESSÁRIO COLOCÁ-LO)
                    ROW REVERSE; (COLOCA OS FILHOS NO FINAL DA LINHA DE FORMA INVERTIDA)
                    COLUMM; (FILHOS FICARÃO COMO COLUNA)
                    COLUMM-REVERSE; (FILHOS VÃO PARA O FINAL DA COLUNA DE FORMA INVERTIDA)
    
    JUSTIFY-CONTENT;    FLEX-STAR; (FILHOS VÃO PARA O COMEÇO DA LINHA PARECIDO COM O FLEX-DIRECTION: ROW;)
                        FLEX-END; (FILHOS VÃO PARA O FINAL DA LINHA, MAS NÃO SÃO INVERTIDOS)
                        FLEX-CENTER; (FILHOS FICARÃO NO CENTRO HORIZONTALMENTE)
                        SPACE-BETWEEN; (FILHOS FICARÃO SEPARADOS ENTRE SI DE FORMA IGUAL E COM O MAIOR ESPAÇAMENTO POSSÍVEL)
                        SPACE-AROUND; (FILHOS FICARÃO COM ESPAÇAMENTE INCLUSIVE NO INÍCIO E NO FINAL, NÃO FICANDO COLADOS NO INÍCIO E FINAL)
                        SPACE-EVENLY; (FILHOS COM ESPACAMENTOS TODOS IGUAIS)
    ALING-ITEM; FLEX-START; (FILHOS FICARÃO NO INÍCIO VERTICALMENTE)
                FLEX-END;   (FILHOS FICARÃO AO FINAL VERTICALMENTE)
                CENTER; (FILHOS FICARÃO AO CENTRO VERTICALMENTE)
         
*/