* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.minhadiv {
    width: 100px;
    height: 100px;
    background-color: black;
    animation: animacao;
    animation-duration: 10s;
    position: absolute;
}

@keyframes animacao {
        0% {
            top: 0;
        }
        10% {
            top: 100px;
            left: 100px;
        }
        20% {
            top: 200px;
            left: 200px;
        }
        40% {
            top: 300px;
            left: 300px;
        }
        60% {
            top: 400px;
            left: 400px;
        }
        80% {
            top: 500px;
            left: 500px;
        }
        100% {
            top: 600px;
            left: 600px;
        }
}

/*@keyframes animacao {
    from {
        border-radius: 0;
        background: black;
    }

    to {
        border-radius: 50%;
        background: red;
    }
}
*/

/*
    KEYFRAMES;
    
    @keyframes animacao {
        from {}
        to {}

    }
    
*/